body {
  margin: 0;
}

.container {
}

.menu_wrapper {
width: 100%;
}

.menu_wrapper ul {
text-align: center;
border-bottom: 2px solid #ece1e1;
margin: 0;
padding: 16px;
}

ul {
  padding: 0px;
}

li {
  display: inline-block;
}

.menu_wrapper a {
  text-decoration: none;
  font-family: "Avenir Next", Verdana, sans-serif;
  color: #7c736b;
  margin: 55px;
}

a:hover {
  color: #194775;
}

a:active {
  font-weight: bold;
}

.body_wrapper {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
  padding: 10px;
}

#page_title {
  font-family: "Avenir Next", Verdana, sans-serif;
  color: #194775;
  font-size: x-large;
}

.posts li {
  display: list-item;
  list-style: none;
  font-size: large;
  margin: 30px;
}

.posts a{
  font-family: "Avenir Next", Verdana, sans-serif;
  color: #335c85;
  text-decoration: none;
}

.posts a:hover {
  color: #7c736b;
  text-decoration: none;
}

.posts p {
  font-family: "Avenir Next", Verdana, sans-serif;
  color: #194775;
  margin-top: 0px;
  font-size: small;
}

.footer {
  position: relative;
  top: 35px;
  text-align: center;
  border-top: 2px solid #ece1e1;
  padding-top: 3px;
}

.socmedia {
  padding-top: 0px;
}

.socmedia ul {
  margin-bottom: 5px;
}

.socmedia a {
  margin: 0px;
}

.socmedia img {
  height: 35px;
  width: 35px;
  margin: 2px;
  margin-left: auto;
  margin-right: auto;
}

.footer #c {
  font-size: small;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Avenir Next", Verdana, sans-serif;
  color: #194775;
}