body {
  max-width: 700px;
  margin: 0 auto;
}

#container {
/*  border: 3px dotted green;*/
  position: relative;
}

#header {
}

ul {
  text-align: center;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  margin: 55px;
}

.blog_body {
  margin-top: 50px;
  margin-bottom: 5px;
}

h1 {
  text-align: center;
}

#date {
  text-align: center;
  font-weight: bold;
  font-size: small;
  margin-bottom: 5px;
}

#divider {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 13px;
}

#post {
  border: 1px solid gray;
}

#post p {
  margin: 25px 15px 10px 15px;
  text-indent: 50px;
  text-align: justify;
}

img {
}

#link {
  text-decoration: none;
  margin: 0px;
  font-weight: bold;
  color: gray;
}

#bold {
  font-weight: bold;
}

/*italicizes text */
#i {
  font-style: italic;
}

#footer {
  text-align: center;
  margin-top: 5px;
  bottom: 0;
  left: 0;
}

#footer p {
  font-size: x-small;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}