body {
  margin: 0;
}

.container {
}

.menu_wrapper {
width: 100%;
}

.menu_wrapper ul {
text-align: center;
border-bottom: 2px solid #ece1e1;
margin: 0;
padding: 16px;
}

ul {
  padding: 0px;
}

li {
  display: inline-block;
}

.menu_wrapper a {
  text-decoration: none;
  font-family: "Avenir Next", Verdana, sans-serif;
  color: #7c736b;
  margin: 55px;
}

a:hover {
  color: #194775;
}

a:active {
  font-weight: bold;
}

/*body starts below*/

.body_wrapper {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
  padding: 10px;
}

#blog_title {
  text-align: center;
  font-family: "Avenir Next", Verdana, sans-serif;
  color: #194775;
  font-size: x-large;
}

#date {
  text-align: center;
  font-size: small;
  margin-bottom: 5px;
  font-family: "Avenir Next", Verdana, sans-serif;
  color: #194775;
}

#divider {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 13px;
  font-family: "Avenir Next", Verdana, sans-serif;
  color: #194775;
}

.post p {
  margin: 25px 15px 10px 15px;
  text-indent: 50px;
  text-align: justify;
  font-family: "Avenir Next", Verdana, sans-serif;
  color: #335c85;
}

.post a {
  margin: 0;
  text-decoration: none;
  font-family: "Avenir Next", Verdana, sans-serif;
  color: #7c736b;
}

.post a:hover {
  color: #194775;
}

.post img {
  max-width: 650px;
}

.post pre {
  text-align: justify;
  background-color: #f5f5f5;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
}

/*Images specific to t2 post, to have images side by side*/
#t2img {
  border: 1px solid black;
  max-height: 350px;
}

/*makes text bold within body of blog post*/
#b {
  font-weight: bold;
}

/*italicizes text within body of blog post*/
#i {
  font-style: italic;
}

table, th, td {
  margin: 0 auto;
  border: 1px solid gray;
  border-collapse: collapse;
  padding-left: 12px;
  padding-right: 12px;
  color: #194775;
}

.note {
  font-size: small;
}

/*footer starts below*/

.footer {
  position: relative;
  top: 35px;
  text-align: center;
  border-top: 2px solid #ece1e1;
  padding-top: 3px;
}

.socmedia {
  padding-top: 0px;
}

.socmedia ul {
  margin-bottom: 5px;
}

.socmedia a {
  margin: 0px;
}

.socmedia img {
  height: 35px;
  margin: 2px;
  margin-left: auto;
  margin-right: auto;
}

.footer #c {
  font-size: small;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Avenir Next", Verdana, sans-serif;
  color: #194775;
}