/*body {
  height: 50px;
  bottom-border: 10px red;
}*/

#title {
  text-align: center;
  font-family: 'Indie Flower', sans-serif, cursive;
}

#categories_container {
  /*border: 1px dotted black;*/
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Josefin Sans', sans-serif;
  max-height: 1650px;
  position: relative;
}

#variables {
  border: 1px solid gray;
  width: 300px;
  padding: 10px;
  background-color: #8ab800;
  position: absolute;
  left: 50px;
}

#arrays {
  border: 1px solid gray;
  width: 300px;
  position: absolute;
  top: 0px;
  left: 425px;
  padding: 10px;
  background-color: #33c133;
}

#strings {
  border: 1px solid gray;
  width: 300px;
  position: absolute;
  left: 50px;
  top: 300px;
  padding: 10px;
  background-color: #B8DB4D;
}

#hashes {
  border: 1px solid gray;
  width: 300px;
  position: absolute;
  top: 560px;
  left: 425px;
  padding: 10px;
  background-color: #47b56c;
}

#expressions {
  border: 1px solid gray;
  width: 300px;
  position: absolute;
  left: 50px;
  top: 1175px;
  padding: 10px;
  background-color: #d6eb99;
  margin-bottom: 50px;
}

.i {
  font-style: italic;
}

img {
  position: absolute;
  width: 320px;
  top: 1050px;
  left: 428px;
  border: 1px solid gray;
}
