body {
  margin: 0;
}

.container {
}

.menu_wrapper {
width: 100%;
}

.menu_wrapper ul {
text-align: center;
border-bottom: 2px solid #ece1e1;
margin: 0;
padding: 16px;
}

ul {
  padding: 0px;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  font-family: "Avenir Next", Verdana, sans-serif;
  color: #7c736b;
  margin: 55px;
}

.body_wrapper {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
  padding: 10px;
}

#myphoto {
  margin-top: 150px;
  margin-bottom: 20px;
  max-height: 200px;
  max-width: 200px;
  border-radius: 100%;
  border: 1px solid white;
}

#digihome {
  margin-bottom: 4px;
  font-family: "Avenir Next", Verdana, sans-serif;
  color: #194775;
  font-size: x-large;
}

#divider {
  margin-top: 0px;
  color: #194775;
}

#cv {
  font-family: "Avenir Next", Verdana, sans-serif;
  color: #194775;
  padding-bottom: 40px;
  font-size: x-large;
}

#desc {
  font-family: "Avenir Next", Verdana, sans-serif;
  color: #335c85;
}

#questions {
  font-family: "Avenir Next", Verdana, sans-serif;
  padding-top: 40px;
  font-size: large;
  color: #7c736b
}

#email {
  font-family: "Avenir Next", Verdana, sans-serif;
  font-size: large;
  text-decoration: underline;
  color: #7c736b;
}

.footer {
  position: relative;
  top: 35px;
  text-align: center;
  border-top: 2px solid #ece1e1;
  padding-top: 3px;
}

.socmedia {
  padding-top: 0px;
}

.socmedia ul {
  margin-bottom: 5px;
}

.socmedia a {
  margin: 0px;
}

.socmedia img {
  height: 35px;
  width: 35px;
  margin: 2px;
  margin-left: auto;
  margin-right: auto;
}

.footer #c {
  font-size: small;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Avenir Next", Verdana, sans-serif;
  color: #194775;
}